/*  */

.dashboard-fc {
  @apply font-sans text-slate-900 !important;
  --fc-border-color: #f8fafc !important;
  --fc-today-bg-color: #f8fafc !important;
}

.fc .fc-scrollgrid {
  @apply border-none rounded-[2rem] overflow-hidden !important;
}

.fc .fc-daygrid-day-frame {
  @apply min-h-[110px] transition-all hover:bg-slate-50 cursor-pointer border-r border-b border-slate-100 !important;
}

.fc .fc-daygrid-day-top {
  @apply p-4 font-black text-slate-400 text-xs flex-row-reverse !important;
}

.fc .fc-day-today {
  @apply bg-[#959cc9]/20 !important;
}

.fc .fc-day-today .fc-daygrid-day-top {
  @apply text-[#959cc9] font-black !important;
}

/* Header Table Nama Hari - Champagne Gold Overlay */
.fc th {
  @apply bg-slate-100 py-5 border-none text-[10px] font-black uppercase text-[#959cc9] tracking-[0.4em] !important;
}

.fc-event-main {
  @apply overflow-visible !important;
  display: block !important;
}

.fc-daygrid-event-harness {
  @apply block !important;
}

.fc-daygrid-event {
  @apply bg-transparent border-none shadow-none p-0 !important;
}

/* Toolbar & Title Branding */
.fc .fc-toolbar-title {
  @apply text-xl font-black uppercase tracking-[0.3em] text-slate-900 !important;
}

.fc .fc-button-primary {
  @apply bg-slate-50 border-none text-slate-400 font-black text-[10px] py-3 px-6 rounded-2xl hover:bg-[#959cc9] hover:text-white transition-all shadow-none uppercase tracking-widest mx-1 !important;
}

.fc .fc-button-active {
  @apply bg-[#d9c3b6] text-white shadow-xl shadow-[#d9c3b6]/30 !important;
}

.fc .fc-toolbar {
  @apply mb-10 !important;
}

.fc .fc-col-header-cell-cushion {
  @apply py-2 !important;
}
